<?xml version="1.0" encoding="UTF-8"?>

<!--please pay attention that: file name should not be logback.xml，name it logback-spring.xml to use it in springboot framework-->
<configuration>

    <springProperty scope="context" name="logging.path" source="logging.path"/>
    <springProperty scope="context" name="logging.level" source="logging.level.com.hb.batch"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                <pattern>[%-5level] %d [%thread] %class:%line ===> %msg%n</pattern>
            </Pattern>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="COMMON-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <!-- 设置日志名称 -->
        <file>${logging.path}/gp-batch-common.log</file>
        <!-- 使用滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名-->
            <fileNamePattern>${logging.path}/gp-batch-common.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 日志文件保留天数-->
            <maxHistory>7</maxHistory>
            <!-- 日志文件保留天数-->
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--日志输出格式-->
            <pattern>
                <pattern>[%-5level] %d [%thread] %class:%line ===> %msg%n</pattern>
            </pattern>
            <!-- 编码 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 按照每天生成错误级别的日志文件 -->
    <appender name="ERROR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <!-- 设置日志级别-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <!-- 设置日志名称 -->
        <file>${logging.path}/gp-batch-error.log</file>
        <!-- 使用滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名-->
            <fileNamePattern>${logging.path}/gp-batch-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 日志文件保留天数-->
            <maxHistory>7</maxHistory>
            <!-- 日志文件保留天数-->
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--日志输出格式-->
            <pattern>
                <pattern>[%-5level] %d [%thread] %class:%line ===> %msg%n</pattern>
            </pattern>
            <!-- 编码 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--设置日志级别-->
    <logger name="gpbatch" level="${logging.level}" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="COMMON-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <!-- 日志输出级别 -->
    <root level="${logging.level}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="COMMON-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </root>

</configuration>